:css
    .red a {
        color: red;
    }
%section
    .row
        .col-md-12
            .pull-right= link_to "New", new_admin_banner_path, :class => "btn btn-default"
            - pagination = paginate @banners
            = pagination
            %table.table
                %thead
                    %tr
                        %th{width: "55%"} Message
                        %th{width: "10%"} Weight
                        %th{width: "20%"} Expiration
                        %th{width: "2%"}
                        %th{width: "2%"}
                %tbody
                    - @banners.each do |banner|
                        %tr{class: ("success" if banner.active_at)}
                            %td= banner.text
                            %td= banner.weight
                            - if banner.expires?
                                %td= format_relative_time(banner.expires_at)
                            - else
                                %td= ""
                            %td.center
                                %a{:href => edit_admin_banner_path(banner)}
                                    %i.fa.fa-pencil-alt
                            %td.red
                                %a{:href => admin_banner_path(banner), :data => {:method => :delete, :confirm => "Are you sure?"}}
                                    %i.fa.fa-times
            = pagination
