- content_for(:title) {"UHC Schedule"}

%section
    .page-header
        %h2
            UHC Schedule
            %small
                - unless @events.empty?
                    - event = @events.values.first
                    - if event.event_start_time.future?
                        = "Next event is in " + time_ago_in_words(event.event_start_time).to_s
                        = "and it lasts all day!" if event.all_day
                    - elsif event.event_start_time.past? && event.event_end_time.future?
                        = "An event is happening now and will end in " + time_ago_in_words(event.event_end_time).to_s

    - if @events.empty?
        .row
            .col-md-12
                .alert.alert-warning There are no planned events at the moment. Check back soon!
    - else
        - @events.each_slice(3) do |row|
            .row
                - row.each do |id, event|
                    .col-md-4
                        %h2.center
                            %small
                                = event.event_start_date.strftime("%B #{event.event_start_date.day.ordinalize}, %Y")
                                = " - " + event.event_end_date.strftime("%B #{event.event_end_date.day.ordinalize}, %Y") unless event.same_day
                        %h3.center= event.summary
                        - if event.all_day
                            %h4.center
                                .label.label-danger All Day!
                        - else
                            %h4.center
                                %em
                                    = format_time(event.event_start_time, date: !event.same_day) + " - " + format_time(event.event_end_time, show_zone: true, date: !event.same_day)
                        .center
                            %a.btn.btn-sm.btn-success{href: event.add_link}
                                %i.fa.fa-calendar
                                Add to Calendar
                            %a.btn.btn-sm.btn-info{href: event.tweet_link, target: '_blank'}
                                %i.fab.fa-twitter
                                Tweet
                        %hr
                        %p{style: "word-wrap: break-word;"}
                            = event.description.html_safe
