:css
    .red a {
        color: red;
    }
%section
    .row
        .col-md-12
            .pull-right= link_to "New Forum", new_admin_forum_path, :class => "btn btn-default"
            - @forums.group_by(&:category).each do |category, forums|
                .table-container
                    %table.table
                        %thead
                            %tr
                                %th Order
                                %th Forum
                                %th Topics
                                %th Posts
                                %th{:width => "2%"}
                                %th{:width => "2%"}
                        %tbody
                            - forums.each do |forum|
                                %tr
                                    %td= forum.order
                                    %td= link_to forum.title, forem.forum_path(forum), :title => forum.description
                                    %td= forum.topics.count
                                    %td= forum.posts_count
                                    %td.center
                                        %a{:href => edit_admin_forum_path(forum)}
                                            %i.fa.fa-pencil-alt
                                    %td.center.red
                                        %a{:href => admin_forum_path(forum), :data => {:method => :delete, :confirm => "Are you sure?"}}
                                            %i.fa.fa-times
